TicketSystem\.vs
TicketSystem\bin
TicketSystem\obj
.vs/ProjectEvaluation/ticketsystem.metadata.v2
.vs/ProjectEvaluation/ticketsystem.projects.v2
.vs/TicketSystem/DesignTimeBuild/.dtbcache.v2
.vs/TicketSystem/FileContentIndex/1d89c925-65c4-48ee-ae4b-adb20c130a7a.vsidx
.vs/TicketSystem/FileContentIndex/3d007fed-db48-44b9-8656-e99936ea67b0.vsidx
.vs/TicketSystem/FileContentIndex/b6afe768-b36a-4b7e-b84e-38b591f082fd.vsidx
.vs/TicketSystem/FileContentIndex/d4feaa4a-4ed2-4712-874e-a1cc13d673e9.vsidx
.vs/TicketSystem/FileContentIndex/dd8ef0bf-fd34-4080-8eeb-efdd677ffb15.vsidx
.vs/TicketSystem/FileContentIndex/e9e28b1e-454f-430f-84e6-699863d6a464.vsidx
.vs/TicketSystem/FileContentIndex/f8eae163-2193-4c34-ac4a-2bbb9aa95d19.vsidx
.vs/TicketSystem/FileContentIndex/fe5a07ec-76bc-4bba-8114-71968c34b9cf.vsidx
.vs/TicketSystem/v17/.futdcache.v1
.vs/TicketSystem/v17/.suo
bin/Debug/net6.0/appsettings.json
bin/Debug/net6.0/Humanizer.dll
bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net6.0/Microsoft.Identity.Client.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
bin/Debug/net6.0/System.Diagnostics.DiagnosticSource.dll
bin/Debug/net6.0/System.Drawing.Common.dll
bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/net6.0/System.Runtime.Caching.dll
bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net6.0/System.Security.Permissions.dll
bin/Debug/net6.0/System.Windows.Extensions.dll
bin/Debug/net6.0/TicketSystem.deps.json
bin/Debug/net6.0/TicketSystem.dll
bin/Debug/net6.0/TicketSystem.pdb
bin/Debug/net6.0/TicketSystem.runtimeconfig.json
obj/Debug/net6.0/ref/TicketSystem.dll
obj/Debug/net6.0/refint/TicketSystem.dll
obj/Debug/net6.0/TicketSystem.assets.cache
obj/Debug/net6.0/TicketSystem.csproj.AssemblyReference.cache
obj/Debug/net6.0/TicketSystem.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/TicketSystem.csproj.FileListAbsolute.txt
obj/Debug/net6.0/TicketSystem.dll
obj/Debug/net6.0/TicketSystem.genruntimeconfig.cache
obj/Debug/net6.0/TicketSystem.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
obj/TicketSystem.csproj.nuget.dgspec.json
obj/TicketSystem.csproj.nuget.g.props
